<header class="site-header">
  <div class="header-inner">
    <a class="site-title" href="{{ '/' | relative_url }}">AyurYog</a>
    <nav class="site-nav">
      <ul>
        <li><a href="{{ '/blog/' | relative_url }}">Blog</a></li>
        <li><a href="{{ '/team/' | relative_url }}">People</a></li>
        <li><a href="{{ '/publications/' | relative_url }}">Publications</a></li>
        <li class="has-dropdown">
          <a href="{{ '/resources/' | relative_url }}">Resources</a>
          <ul class="dropdown">
            <li><a href="{{ '/resources/untangling-traditions/' | relative_url }}">Untangling Traditions</a></li>
            <li><a href="{{ '/resources/inform/' | relative_url }}">Inform</a></li>
            <li><a href="{{ '/credits/' | relative_url }}">Credits</a></li>
          </ul>
        </li>
        <li><a href="{{ '/events/' | relative_url }}">Events</a></li>
        <li><a href="{{ '/timeline/' | relative_url }}">Yoga Timeline</a></li>
        <li><a href="{{ '/alchemy-reconstruction/' | relative_url }}" class="nav-highlight">Alchemy Reconstruction</a></li>
        <li><a href="{{ '/alchemy-timeline/' | relative_url }}" class="nav-highlight">Alchemy Timeline</a></li>
      </ul>
    </nav>
  </div>
</header>
